@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Azeret Mono", monospace;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
    /* align-content: space-between; */
    
}
.nav-title{
    font-weight: 900;
    font-size: large;
    text-decoration: none;
}
.banner{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    align-items: center;
    align-content: center;
}
.group-img{
    height: 200px;
    width: 200px;
    align-items: center;
}